.bets-container {
    margin: 20px auto;
    max-width: 80%;
    width: fit-content;
    text-align: left;

    p {
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: white;
    }
}