.action-swipe--text {
    font-size: 2em !important;
    font-weight: bold !important;
    margin: 0 !important;
}

.action-swipe--div {
    position: absolute !important;
    inset: 0;
    overflow: hidden !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}