<mat-toolbar>
    <div (click)="goHome()">
        <ng-container *ngIf="isConnected$ | async; else appName">
            <button mat-icon-button>
                <mat-icon>home</mat-icon>
            </button>
            <span>Accueil</span>
        </ng-container>
    </div>
    <ng-template #appName>
        <span>Bet er Safe Than Sorry</span>
    </ng-template>
    <span class="example-spacer"></span>
    <button *ngIf="isConnected$ | async" mat-button (click)="logout()">
        Déconnexion
    </button>
</mat-toolbar>