<mat-toolbar>
    <div class="header-container" (click)="goHome()">
        <ng-container *ngIf="isConnected$ | async; else fullName">
            <span>BeSTS</span>
            <button mat-icon-button (click)="previous()" >
                <mat-icon>chevron_left</mat-icon>
            </button>
            <button mat-icon-button (click)="next()" >
                <mat-icon>chevron_right</mat-icon>
            </button>
        </ng-container>
    </div>
    <ng-template #fullName>
        <span>Bet er Safe Than Sorry</span>
    </ng-template>
    <span class="example-spacer"></span>
    <button *ngIf="isConnected$ | async" mat-button (click)="logout()">
        Déconnexion
    </button>
</mat-toolbar>