<ng-container *ngIf="room$ | async as room">
    <div class="room-container">
        <h2>{{room.name}}</h2>
        <div class="matches-container">
            <div class="card-scroll">
                <ng-container *ngFor="let match of matches$ | async">
                    <mat-card *ngIf="isOwner$ | async; else cardWithoutSwipe" [ngClass]="{disabled: !canBet(match.startDate)}"
                        (click)="openBetDialog(match)"
                        action-swipe [swipeActions]="actions" (touched)="onTouch($event, match)">
                        <ng-container *ngTemplateOutlet="cardContent"></ng-container>
                    </mat-card>

                    <ng-template #cardWithoutSwipe>
                        <mat-card [ngClass]="{disabled: !canBet(match.startDate)}"
                            (click)="openBetDialog(match)">
                            <ng-container *ngTemplateOutlet="cardContent"></ng-container>
                        </mat-card>
                    </ng-template>

                    <ng-template #cardContent>
                        <mat-card-header>
                            <mat-card-title>{{match.teamOne}} VS {{match.teamTwo}}</mat-card-title>
                            <mat-card-subtitle>{{match.startDate | date: 'short'}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content class="real" *ngIf="!!match.realTeamOneScore">
                            {{match.realTeamOneScore}} - {{match.realTeamTwoScore}}
                        </mat-card-content>
                        <mat-card-content class="guessed" *ngIf="!!match.guessedTeamOneScore; else placeholder">
                            {{match.guessedTeamOneScore}} - {{match.guessedTeamTwoScore}}
                        </mat-card-content>
                        <ng-template #placeholder>
                            <mat-card-content>
                                ? - ?
                            </mat-card-content>
                        </ng-template>
                    </ng-template>
                </ng-container>
            </div>
            <div class="actions">
                <button mat-mini-fab *ngIf="isOwner$ | async" color="primary" (click)="createMatch()">
                    <mat-icon>add</mat-icon>
                </button>
                <div>
                    <button mat-icon-button>
                        <mat-icon color="primary">bar_chart</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="isOwner$ | async">
                        <mat-icon color="primary" (click)="copy(room.id)">person_add</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-container>