.room-container {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    padding-bottom: 20px;
    height: 100%;
    width: 90%;
    margin: 0 auto;

    h2 {
        margin-top: 20px;
        text-align: center;
    }

    &>div:first-child {
        overflow-y: auto;
    }

    mat-card {
        margin-top: 1em;

        mat-card-title {
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 18px;
        }

        mat-card-content {
            color: var(--primary);
            text-align: center;
        }

        mat-card-content.guessed {
            color: lightgreen;
            text-align: center;
        }
    }

}

.disabled {
    border: 1px solid var(--warn);
}

.matches-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;

    .card-scroll {
        overflow-y: auto;
    }
}

.actions {
    margin: 20px auto;
    display: flex;
    flex-direction: column;

    div {
        display: flex;
        flex-direction: row;
        width: 30%;

        mat-icon {
            scale: 2;
        }

        button:nth-child(2) {
            margin-left: 20px;
        }
    }

    &>button:first-of-type {
        margin: 15px auto;
    }
}