<ng-container *ngIf="room$ | async as room">
    <div class="room-container">
        <h2>{{room.name}}</h2>
        <div class="matches-container">
            <div>
                <mat-card *ngFor="let match of matches$ | async">
                    <mat-card-header>
                        <div mat-card-avatar *ngIf="isOwner$ | async">
                            <mat-icon (click)="remove(match.id)">delete_forever</mat-icon>
                            <mat-icon (click)="remove(match.id)">edit</mat-icon>
                        </div>
                        <mat-card-title>{{match.teamOne}} VS {{match.teamTwo}}</mat-card-title>
                        <mat-card-subtitle>{{match.startDate | date: 'short'}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content *ngIf="!!match.guessedTeamOneScore">
                        {{match.guessedTeamOneScore}} - {{match.guessedTeamTwoScore}}
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="actions">
                <button mat-mini-fab *ngIf="isOwner$ | async" color="primary" (click)="createMatch()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>
</ng-container>